.warp {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #607d8b;
    z-index: -1;
}

.inside {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #02B1CD;
    color: #FFF;
}

.exception {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #32CFC1;
    color: #FFF;
}

.trigger {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #3AC85A;
    color: #FFF;
    cursor: pointer;

}
.trigger:hover{
  background-color: rgb(72, 247, 113);
}
.control-box {
    background: #FFF;
    border: 1px solid #F1F1F1;
    border-radius: 2px;
    width: 400px;
}

.control-box h4 {
    background-color: #F1F1F1;
}
