<br/>
<h2 class='text-center'
    style="color:#FFF;">Click-out-side Directive Demo</h2>
<div class="warp flex-container align-middle align-spaced">
	<div class="trigger flex-container align-center-middle"
	     (click)='toggleShow();'>
		ngIf trigger
	</div>
	<div *ngIf='show'
	     appClickOutSide
	     class="inside flex-container align-center-middle"
	     (clickOutside)='trigger()'
	     [exceptionDom]='exceptionDOM'
	     [useFlag]='true'>
		<h3>Inside</h3>
	</div>
	<div class="exception flex-container align-center-middle"
	     #exception>
		<h3>Exception</h3>
	</div>



	<div class="control-box ">
		<h4 class="text-center">Control Panel</h4>
		<div style="padding:2rem;">
			ClickOutSideDirective
			<p>Trigger a customized event "clickOutside" when user click outside the Directive dom; user can input a exceptionDom, which will not trigger this event. </p>
			<ul>
				<li>@Output() public clickOutside = new EventEmitter();</li>
				<li>@Input() public exceptionDom?: ElementRef;</li>
				<li>@Input() public useFlag = true; this flag to break the current zone;For example if you want to use *ngIf to toggle the component, and this *ngIf is trggieed from a outside Dom</li>
				<li> @implements OnInit (when useFlag);@implements AfterViewInit (when useFlag)</li>
			</ul>






			<label>
				Trigger function:
				<textarea [(ngModel)]='callFunctionText'></textarea>
			</label>
		</div>

	</div>
</div>
